#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("../public/img/back-blue.webp");
}

.movies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-container{
  display: flex;
  justify-content: space-around;
    height: auto;
    background-color: rgb(223, 239, 253);
    margin-bottom: 5px;
}

.logo{
  margin-bottom: 20px;
  width: 200px;
  height: 120px;
}

.app{
  display: flex;
  flex-direction: column;
}

h4{
  color: white;
}

.form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-searcher{
  display: flex;
  flex-direction: row;
}

.searcher-form{
  margin: 10px;
  display: flex;
  align-items: center;
}

.btn-search{
  margin: 10px;
  width: 50px;
  height: 10px;
}


.btn-search{
  margin-right: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #254ca3;
  border: none;
}
input{
  width: 250px;
  border-radius: 5px;
  border: solid 1px #254ca3;
}

img{
  margin: 30px;
  height: 450px;
  width: 300px;
}
